form {
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-between;
}

.MuiDialog-paperWidthSm {
    width: 450px;
    min-width: 350px;
}

.MuiDialogTitle-root {
    border-bottom: 1px solid #8080802b;
}